repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.26.0"
    hooks:
      - id: ruff
        args: ["--fix"]

  - repo: https://github.com/psf/black
    rev: "23.12.0"
    hooks:
      - id: black
        language_version: python3.11
